fastapi
uvicorn
pydantic
neo4j
sentence-transformers
python-multipart
pandas
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-ollama
pgmpy
pdfplumber
pdf2image
pytesseract
python-docx
faiss-cpu
pypdf
python-dotenv
openai
